In [1]:
import findspark
findspark.init()

In [2]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [3]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [5]:
df_green.registerTempTable('green')

In [17]:
df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,
    
    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
ORDER BY
    1, 2
""")

In [18]:
df_green_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2020-01-01 00:00:00|   7| 769.7299999999998|            45|
|2020-01-01 00:00:00|  17|            195.03|             9|
|2020-01-01 00:00:00|  18|               7.8|             1|
|2020-01-01 00:00:00|  22|              15.8|             1|
|2020-01-01 00:00:00|  24|              87.6|             3|
|2020-01-01 00:00:00|  25|             531.0|            26|
|2020-01-01 00:00:00|  29|              61.3|             1|
|2020-01-01 00:00:00|  32| 68.94999999999999|             2|
|2020-01-01 00:00:00|  33|            317.27|            11|
|2020-01-01 00:00:00|  35|129.95999999999998|             5|
|2020-01-01 00:00:00|  36|            295.34|            11|
|2020-01-01 00:00:00|  37|            175.67|             6|
|2020-01-01 00:00:00|  38| 98.78999999999999|             2|
|2020-01-01 00:00:00|  40|168.98000000000002|             8|
|2020-01-01 00:00:00|  41| 1363.959999999999|            84|
|2020-01-01 00:00:00|  42| 799.7599999999995|            52|
|2020-01-01 00:00:00|  43|            107.52|             6|
|2020-01-01 00:00:00|  47|              13.3|             1|
|2020-01-01 00:00:00|  49|266.76000000000005|            14|
|2020-01-01 00:00:00|  51|              17.8|             2|
+-------------------+----+------------------+--------------+
only showing top 20 rows

In [27]:
df_green_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/green', mode='overwrite')

In [20]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')

In [21]:
df_yellow.registerTempTable('yellow')

In [25]:
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', tpep_pickup_datetime) AS hour, 
    PULocationID AS zone,
    
    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
ORDER BY
    1, 2
""")

In [26]:
df_yellow_revenue.write.parquet('data/report/revenue/yellow')

In [30]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records')

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [31]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour', 'zone'], how='outer')

In [32]:
df_join.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+----+------------------+--------------------+------------------+---------------------+
|2020-01-01 04:00:00| 127|             42.72|                   3|60.480000000000004|                    3|
|2020-01-01 05:00:00| 114|              null|                null|            720.75|                   43|
|2020-01-01 06:00:00|  65|             18.05|                   1|38.260000000000005|                    4|
|2020-01-01 06:00:00| 161|              null|                null|1513.7399999999998|                   43|
|2020-01-01 08:00:00|  17|              null|                null|             46.34|                    3|
|2020-01-01 08:00:00| 107|              null|                null| 791.9599999999998|                   48|
|2020-01-01 08:00:00| 162|              null|                null|            767.81|                   46|
|2020-01-01 09:00:00| 234|              null|                null| 809.8100000000003|                   48|
|2020-01-01 10:00:00| 170|              null|                null|2637.3399999999974|                  173|
|2020-01-01 11:00:00|  22|154.82000000000002|                   6|              62.7|                    1|
|2020-01-01 11:00:00| 135|              null|                null|             61.92|                    1|
|2020-01-01 12:00:00|  10|              null|                null|             73.67|                    1|
|2020-01-01 14:00:00| 235|             81.53|                   3|             21.31|                    1|
|2020-01-01 16:00:00|  70|               9.8|                   1|              null|                 null|
|2020-01-01 17:00:00| 153|               0.0|                   1|              null|                 null|
|2020-01-01 17:00:00| 181|201.31000000000003|                  11|100.00999999999999|                    6|
|2020-01-01 20:00:00| 224|              null|                null|            104.45|                    5|
|2020-01-02 01:00:00|  68|              null|                null| 709.1400000000001|                   35|
|2020-01-02 02:00:00| 100|              null|                null|187.64999999999998|                    9|
|2020-01-02 06:00:00|  19|              66.6|                   2|161.42000000000002|                    3|
+-------------------+----+------------------+--------------------+------------------+---------------------+
only showing top 20 rows

In [33]:
df_join.write.parquet('data/report/revenue/total')

In [34]:
df_join = spark.read.parquet('data/report/revenue/total')

In [35]:
df_join.show()

+-------------------+----+------------------+--------------------+------------------+---------------------+
|               hour|zone|      green_amount|green_number_records|     yellow_amount|yellow_number_records|
+-------------------+----+------------------+--------------------+------------------+---------------------+
|2020-01-01 02:00:00|  42|            469.12|                  33| 950.1199999999997|                   73|
|2020-01-01 06:00:00| 228|              15.3|                   1|              null|                 null|
|2020-01-01 06:00:00| 246|              null|                null|            437.72|                   21|
|2020-01-01 09:00:00| 163|              null|                null|1990.4399999999991|                   94|
|2020-01-01 10:00:00|  66|             16.05|                   1|             66.22|                    4|
|2020-01-01 10:00:00| 114|              null|                null|293.45000000000005|                   19|
|2020-01-01 12:00:00| 123|             28.86|                   2|              null|                 null|
|2020-01-01 12:00:00| 146|             30.66|                   1|            153.16|                    6|
|2020-01-01 13:00:00| 106|              null|                null|               6.3|                    1|
|2020-01-01 14:00:00|  35|             42.88|                   3|             55.12|                    1|
|2020-01-01 15:00:00| 136|103.75000000000001|                   3|              38.1|                    2|
|2020-01-01 19:00:00|  37|              null|                null|              9.95|                    1|
|2020-01-01 19:00:00| 123|             33.85|                   2|              null|                 null|
|2020-01-01 20:00:00|  80|            336.97|                   7|            122.15|                    3|
|2020-01-01 21:00:00|  68|              null|                null| 2234.149999999998|                  146|
|2020-01-01 21:00:00| 140|              null|                null| 821.4199999999998|                   54|
|2020-01-01 21:00:00| 168|            106.67|                   5|              10.8|                    1|
|2020-01-01 21:00:00| 248|             50.04|                   2|              null|                 null|
|2020-01-02 04:00:00| 153|             30.73|                   2|              null|                 null|
|2020-01-02 08:00:00| 126|              null|                null|             99.92|                    1|
+-------------------+----+------------------+--------------------+------------------+---------------------+
only showing top 20 rows