In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [8]:
user="root"
password="root"
host="localhost"
port=5432
db="ny_taxi"

In [9]:
engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{db}')
engine.connect()

In [10]:
!wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv

--2022-05-15 23:18:46--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.217.64.110
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.217.64.110|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: 'taxi+_zone_lookup.csv'

     0K .......... ..                                         100%  656K=0.02s

2022-05-15 23:18:47 (656 KB/s) - 'taxi+_zone_lookup.csv' saved [12322/12322]

In [12]:
df = pd.read_csv('taxi+_zone_lookup.csv')
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [16]:
df.tail()

     LocationID    Borough                Zone service_zone
260         261  Manhattan  World Trade Center  Yellow Zone
261         262  Manhattan      Yorkville East  Yellow Zone
262         263  Manhattan      Yorkville West  Yellow Zone
263         264    Unknown                  NV          NaN
264         265    Unknown                 NaN          NaN

In [17]:
print(pd.io.sql.get_schema(df, name="zones", con=engine))

CREATE TABLE zones (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [19]:
df.to_sql(name='zones', con=engine, if_exists='replace')

265